@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

* {
  box-sizing: border-box;
}

header {
  padding: .5em;
}

h1 {
  font-family: "Sacramento", cursive;
  align-items: center;
  color: #b76e79;
  font-size: 75px;
  justify-content: center;
  text-align: center;  
  padding-left: .25em;
  padding-right: .25em;
}

table a {
  text-decoration: none; /* Remove underlines */
  color: #b76e79; /* Set the desired text color */
  padding-left: 0.5em;
  padding-right: 0.5em;
}

body,
html {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

footer {
  color: black;
  font-size: 15px;
  justify-content: center;
  display: flex;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
}

footer a {
  text-decoration: none; /* Remove underlines */
  color: #b76e79; /* Set the desired text color */
}

main {
  overflow-y: auto; /* Enable vertical scrolling if needed */
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe-row {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next row */
  justify-content: space-between; /* Distribute items evenly */
}

.card--1 .card__img,
.card--1 .card__img--hover {
  background-image: url("https://images.pexels.com/photos/45202/brownie-dessert-cake-sweet-45202.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
}

.card__clock {
  width: 15px;
  vertical-align: middle;
  fill: #ad7d52;
}
.card__time {
  font-size: 12px;
  color: #ad7d52;
  vertical-align: middle;
  margin-left: 5px;
}

.card__clock-info {
  float: right;
}

.card__img {
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card__info-hover {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;
}

  .card {
  margin-right: 10px;
  margin-left: 10px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 33.3%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  flex: 1; 
}  

.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
}

.card__info {
  z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px;
}

.card__category {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
}

.card__title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "Roboto Slab", serif;
}

.card__by {
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

.card__author {
  font-weight: 600;
  text-decoration: none;
  color: #b76e79;
}

.card:hover .card__img--hover {
  height: 100%;
  opacity: 0.3;
}

.card:hover .card__info {
  background-color: transparent;
  position: relative;
}

.card:hover .card__info-hover {
  opacity: 1;
}

.botton-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

 .create-recipe {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
} 

.recipe-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1.5em; /* Add padding to the row */
}

button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  
  width: 100%;
  border: 0;
  padding: 0.5em;
  border: 2px solid #b76e79;
  font-size: 15px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 8px;
  background: #b76e79;
  color: white;
}

button:hover,
.form button:active,
.form button:focus {
  color: #b76e79;
  border: 2px solid #b76e79;
  background: white;
}

@media (max-width: 500px) {
  .recipe-row {
    flex-direction: column; /* Switch to a vertical layout on smaller screens */
    align-items: center; /* Center items vertically */
    padding-left: 0em;
  }

  /* .card {
    width: 100%; 
    margin-bottom: 20px;
  } */

  .card {
    width: 100%;
  margin-right: 0; /* Remove right margin for full width */
  margin-bottom: 20px;
  padding: 0 1.5em; /* Add padding to cards on smaller screens */
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center text within cards on smaller screens */
  justify-content: center; /* Center content within cards */
  border-radius: 12px;
  overflow: hidden;
  flex: 1;
}

  .botton-container {
    margin-top: 0px;
    padding-bottom: 1em;
  }
}
