body {
    font-family: "Roboto", sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.recipe-form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input[type="text"],
textarea {
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10dp;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #0074d9;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

/* Style for Submit button */
#submit-button {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #b76e79;
  width: 100%;
  border: 0;
  padding: 15px;
  color: white;
  border: 2px solid #b76e79;
  font-size: 15px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-left: 5px;
}

#submit-button:hover,.form button:active,.form button:focus {
  background: white;
  color: #b76e79;
}

/* Style for Cancel button */
#cancel-button {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: white;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #c23b22;
  border: 2px solid #c23b22;
  font-size: 15px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-right: 5px;
}

#cancel-button:hover,.form button:active,.form button:focus {
  background: #c23b22;
  color: white;
}

.ingredients,
.instructions {
    margin-top: 15px;
}

.ingredient-row,
.instruction-row {
    display: flex;
    align-items: center;
}

.add-ingredient,
.add-instruction {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
}

.remove-button {
    margin-top: 5px;
    background-color: #FF5733;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
}

.button-container {
  display: flex;
  flex: row;
}